th {
    color: red;
}
.qu {
    color: rgb(0, 244, 0);
}
.dq {
    color: rgb(219, 85, 85);
}
#gt {
    color: darkcyan;
}
#csk {
    color: rgb(33, 18, 150);
}
#lsg {
    color: rgb(78, 18, 104);
}
#mi {
    color: rgb(79, 152, 53);
}
#rr {
    color: rgb(255, 36, 123);
}
#rcb {
    color: rgb(195, 168, 19);
}
#kkr {
    color: rgb(107, 213, 14);
}
#pbks {
    color: rgb(200, 63, 219);
}
#dc {
    color: rgb(21, 178, 94);
}
#srh {
    color: rgb(35, 38, 78);
}