.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form input:first-child {
    margin-top: 20px;
}

.form input {
    border: 1px solid #cccccc;
    padding: 12px 10px;
    outline: none;
    margin-bottom: 12px;
}

.form button {
    background-color: aquamarine;
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.form button:hover {
    background-color: #94eb52;
}

.form button:active {
    background-color: #546ab2;
}

.buttonContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.buttonContainer button:last-child {
    margin-left: 10px;
    background-color: rgb(255, 62, 62);
}

.buttonContainer button:last-child:hover {
    background-color: #94eb52;
}

.buttonContainer button:last-child:active {
    background-color: #546ab2;
}

.dataTable {
    margin-top: 30px;
}

table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 12px;
}

table button {
    border: none;
    outline: none;
    background: rgb(255, 191, 0);
    padding: 8px 10px;
    margin: 0px 5px;
    border-radius: 6px;
    cursor: pointer;
}

table button:last-child {
    background-color: red;
}

table button:hover {
    background-color: #5aba71;
}

table button:active {
    background-color: #546ab2;
}