/* * {
    background-color: rgb(156, 179, 62);
} */
.shop {
    color: crimson;
}
#lap {
    color: rgb(224, 12, 240);
}
ol {
    background-color: #239875;
}
ul {
    background-color: #8ce935;
}
dl {
    background-color: #3fbd5c;
}