<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards</title>
    <link rel="stylesheet" href="..//Layout/Cards.css">
    <link rel="shortcut icon" href="..//Layout/Images/cards.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Didact+Gothic&family=Inconsolata:wght@200..900&family=Libertinus+Mono&family=Lora:ital,wght@0,400..700;1,400..700&family=Love+Ya+Like+A+Sister&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sedan:ital@0;1&family=Sniglet:wght@400;800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Tagesschrift&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <main>
        <div class="divTag">
            <img src="..//Layout/Images/cards1.jpg" alt="Cards1">
            <h4>Oppo</h4>
            <h3>Price : <del>Rs.12000</del> Rs.11499</h3>
            <h3><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star-half-stroke"></i></h3>
            <button>Add To Cart</button>
        </div>
        <div class="divTag">
            <img src="..//Layout/Images/cards2.webp" alt="Cards2">
            <h4>Motorola</h4>
            <h3>Price : <del>Rs.30000</del> Rs.22999</h3>
            <h3><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star-half-stroke"></i></h3>
            <button>Add To Cart</button>
        </div>
        <div class="divTag">
            <img src="..//Layout/Images/cards3.webp" alt="Cards3">
            <h4>Apple</h4>
            <h3>Price : <del>Rs.75000</del> Rs.68999</h3>
            <h3><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star-half-stroke"></i></h3>
            <button>Add To Cart</button>
        </div>
        <div class="divTag">
            <img src="..//Layout/Images/cards4.jpg" alt="Cards4">
            <h4>Google Pixel</h4>
            <h3>Price : <del>Rs.70000</del> Rs.63999</h3>
            <h3><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></h3>
            <button>Add To Cart</button>
        </div>
    </main>
</body>
</html>