<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pseudo Class</title>
    <link rel="stylesheet" href="..//Layout/Class.css">
    <link rel="shortcut icon" href="..//Layout/Images/class.jpg" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Didact+Gothic&family=Inconsolata:wght@200..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Libertinus+Mono&family=Lora:ital,wght@0,400..700;1,400..700&family=Love+Ya+Like+A+Sister&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sedan:ital@0;1&family=Sniglet:wght@400;800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Tagesschrift&display=swap" rel="stylesheet">
</head>
<body>
    <a href="https://www.amazon.com/">Amazon</a>
    <a href="https://www.flipkart.com/">Flipkart</a>
    <a href="">JioMart</a>
    <button id="btn1">Click me</button>
    <button id="btn2">Hover me</button>
    <ul>
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
        <li>Four</li>
        <li>Five</li>
        <li>Six</li>
        <li>Seven</li>
    </ul>
    <input type="text">
    <input type="text" disabled>
</body>
</html>