<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Double Drop Down</title>
    <link rel="stylesheet" href="..//Layout/DoubleDropDown.css">
    <link rel="shortcut icon" href="..//Layout/Images/doubledropdown.jpg" type="image/x-icon">
</head>
<body>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li id="drop"><a href="#">Mobiles</a>
                <ul id="menu">
                    <li id="drop2"><a href="#">Apple</a>
                        <ul id="subMenu">
                            <li><a href="#">iPhone14</a></li>
                            <li><a href="#">iPhone15</a></li>
                            <li><a href="#">iPhone16</a></li>
                            <li><a href="#">iPhone17</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Samsung</a></li>
                    <li><a href="#">Vivo</a></li>
                    <li><a href="#">Poco</a></li>
                </ul>
            </li>
            <li><a href="#">Laptop</a></li>
            <li><a href="#">HeadPhone</a></li>
        </ul>
    </nav>
</body>
</html>