<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drop Down</title>
    <link rel="stylesheet" href="..//Layout/DropDown.css">
    <link rel="shortcut icon" href="..//Layout/Images/dropdown.jpg" type="image/x-icon">
</head>
<body>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Layout</a></li>
            <li id="drop"><a href="#">Service</a>
            <ul id="down">
                <li><a href="#">Chennai</a></li>
                <li><a href="#">Mumbai</a></li>
                <li><a href="#">Goa</a></li>
            </ul>
            </li>
        </ul>
    </nav>
</body>
</html>