<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in to FaceBook</title>
    <link rel="stylesheet" href="..//Layout/FaceBook.css">
    <link rel="shortcut icon" href="..//Layout/Images/facebook.ico" type="image/x-icon">
</head>
<body>
    <main>
        <section>
            <div id="firstDiv">
                <div id="top">
                    <img src="..//Layout/Images/facebook1.svg" alt="facebook">
                </div>
                <div id="bottom">
                    <form action="">
                        <h3>Log in to Facebook</h3>
                        <input type="email" name="mail" id="emailId" placeholder="Email address or phone number" required><br>
                        <input type="password" name="pass" id="password" placeholder="Password" required><br>
                        <button type="submit">Log in</button><br>
                        <a href="#">Forgotten account? &nbsp;</a>
                        <a href="#">Sign up for Facebook</a>
                    </form>
                </div>
            </div>
        </section>
    </main>
</body>
</html>