<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="..//Layout/Footer.css">
    <link rel="shortcut icon" href="..//Layout/Images/KFCLogo.webp" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Inconsolata:wght@200..900&family=Libertinus+Mono&family=Lora:ital,wght@0,400..700;1,400..700&family=Love+Ya+Like+A+Sister&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sedan:ital@0;1&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Tagesschrift&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <footer>
        <section>
            <div id="firstDiv">
                <ul>
                    <li><img src="..//Layout/Images/KFCLogo.webp" alt="KFC" id="KFC"></li>
                </ul>
                <ul>
                    <h4>KFC India</h4>
                    <li><a href="#">About KFC</a></li>
                    <li><a href="#">KFC Care</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Our Golden Past</a></li>
                    <li><a href="#">Responsible <br>Disclosure</a></li>
                    <li></li>
                </ul>
                <ul>
                    <h4>Legal</h4>
                    <li><a href="#">Terms and Condition</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Disclaimer</a></li>
                    <li><a href="#">Caution Notice</a></li>
                </ul>
                <ul>
                    <h4>KFG Food</h4>
                    <li><a href="#">Menu</a></li>
                    <li><a href="#">Order Lookup</a></li>
                    <li><a href="#">Gift Card</a></li>
                    <li><a href="#">Nutrition & Allergen</a></li>
                </ul>
                <ul>
                    <h4>Support</h4>
                    <li><a href="#">Get Help</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">KFC Feedback</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
                <ul>
                    <h4 id="map"><i class="fa-solid fa-location-dot" style="color: #ff0000;"></i>Find A KFC</h4>
                </ul>
                <ul>
                    <li><a href="https://play.google.com/store/apps/details?id=com.yum.kfc"><img src="..//Layout/Images/play.webp" alt="paly store" class="play"></a></a></li>
                    <li id="apple"><a href="https://apps.apple.com/in/app/kfc-india-online-ordering-app/id915824379"><img src="..//Layout/Images/apple.webp" alt="apple" class="play"></a></li>
                </ul>
            </div>
            <div id="secondDiv">
                <p style="color: antiquewhite;">Copyright © KFC Corporation 2025 All rights reserved build pwa-2504-0-9_53cdc423</p>
                <ul id="images">
                    <li><img src="..//Layout/Images/insta.webp" alt="Instagram"></li>
                    <li><img src="..//Layout/Images/facebook.webp" alt="Face book"></li>
                    <li><img src="..//Layout/Images/twitter.webp" alt="Twitter"></li>
                </ul>
            </div>
        </section>
    </footer>
</body>
</html>