<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forms</title>
    <link rel="stylesheet" href="form.css">
</head>
<body>
    <form action="">
        <fieldset>
            <legend>All The Form Element</legend>
        <label for="abc">User Name :</label>
        <input type="text" id="abc" placeholder="Enter the user name"><br>
        <label for="mail">Email :</label>
        <input type="Email" id="mail" placeholder="Enter the email"><br>
        <label for="phn">Phone number :</label>
        <input type="tel" id="phn" placeholder="Enter the mobile number"><br>
        <label for="dob">DOB :</label>
        <input type="datetime-local" id="dob" placeholder="Enter the date of birth"><br>
        <label for="">Gender :</label>
        <input type="radio" name="gen" checked> <label for="">Male</label>
        <input type="radio" name="gen"> <label for="">Female</label>
        <input type="radio" name="gen"> <label for="">Others</label><br>
        <input type="checkbox" required> <label for="">i am accepting T&C</label><br>
        <input type="checkbox" required> <label for="">i am agree 18+ </label><br>
        <label for="">Creat password :</label><br>
        <input type="password" placeholder="Enter the password"><br>
        <label for="">Comfirm password :</label>
        <input type="password" placeholder="Enter the password"><br>
        <label for="">Upload Resume :</label>
        <input type="file"><br>
        <input type="color"><br>
        <input type="range"><br>
        <input type="url"><br>
        <input type="submit">
        <input type="reset">
        <br>
        <select name="" id="">
        <option value="" hidden>---Select---</option>
        <option value="">Chennai</option>
        <option value="">Madurai</option>
        <option value="">Viruthunagar</option>
        </select>
        <select name="" id="">
            <option value="" hidden>---Select---</option>
            <option value="">India</option>
            <option value="">America</option>
            <option value="">China</option>
        </select>
        <br>
        <button type="reset">Submit</button>
        <textarea name="" id="" cols="30" rows="5"></textarea>
        </fieldset>
    </form>

</body>
</html>