<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forty</title>
    <link rel="stylesheet" href="..//Layout/Forty.css">
    <link rel="shortcut icon" href="..//Layout/Images/forty.jpg" type="image/x-icon">
</head>
<body>
    <main>
        <article id="bgimg1">
            <div id="bgclr1">
                <div>
                    <h3>Aliquam</h3>
                    <hr>
                    <p>IPSUM DOLOR SIT AMET</p>
                </div>
            </div>
        </article>
        <article id="bgimg2">
            <div id="bgclr2">
                <div>
                    <h3>Tempus</h3>
                    <hr>
                    <p>FEUIGAT AMET TEMPUS</p>
                </div>
            </div>
        </article>
        <article id="bgimg3">
            <div id="bgclr3">
                <div>
                    <h3>Magna</h3>
                    <hr>
                    <p>LOREM ETIAM NULLAM</p>
                </div>
            </div>
        </article>
        <article id="bgimg4">
            <div id="bgclr4">
                <div>
                    <h3>Ipsum</h3>
                    <hr>
                    <p>NISL SED ALIQUAM</p>
                </div>
            </div>
        </article>
        <article id="bgimg5">
            <div id="bgclr5">
                <div>
                    <h3>Consequat</h3>
                    <hr>
                    <p>IPSUM DOLOR SIT AMET</p>
                </div>
            </div>
        </article>
        <article id="bgimg6">
            <div id="bgclr6">
                <div>
                    <h3>Etiam</h3>
                    <hr>
                    <p>FEIGIAT AMET TEMPUS</p>
                </div>
            </div>
        </article>
    </main>
</body>
</html>