<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid Task 2</title>
    <link rel="stylesheet" href="../Layout/Grid4.css">
</head>
<body>
    <section>
        <aside>
            <h1>Augue vivamus sed ipsum commodo lorem dolor</h1>
            <p>Gravida dis placerat lectus ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia eget ornare varius gravida. Gravida dis placerat lectus ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia accumsan vivamus augue cubilia vivamus nisi eu eget ornare varius gravida euismod. Gravida dis lorem ipsum dolor placerat magna tempus feugiat.
            <p>Lectus ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia accumsan vivamus augue cubilia vivamus nisi eu eget ornare varius gravida dolore euismod lorem ipsum dolor.</p>
            <button>Accumsan nisi tempor</button>
        </aside>
        <article><img src="..//Layout/Images/grid1.jpg" alt="Grid1"></article>
        <article><img src="..//Layout/Images/grid2.jpg" alt="Grid2"></article>
        <article><img src="..//Layout/Images/grid3.jpg" alt="Grid3"></article>
        <article><img src="..//Layout/Images/grid4.jpg" alt="Grid4"></article>
        <article><img src="..//Layout/Images/grid5.jpg" alt="Grid5"></article>
        <article><img src="..//Layout/Images/grid6.jpg" alt="Grid6"></article>
    </section>
</body>
</html>