<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hover</title>
    <link rel="stylesheet" href="..//Layout/Hover.css">
    <link rel="shortcut icon" href="..//Layout/Images/hover.jpg" type="image/x-icon">
</head>
<body>
    <div>
        <button>Inside Div</button>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio nulla error, soluta asperiores animi dolore ea aperiam earum explicabo, magnam deleniti debitis voluptatem odit velit quod magni, itaque ducimus eveniet.</p>
    </div>
    <button>Outside Div</button>
    <section>
        <button id="btn">Hover me for img</button>
        <img src="..//Layout/Images/hover.jpg" alt="image">
    </section>
</body>
</html>