<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation</title>
    <link rel="stylesheet" href="./Nav.css">
    <link rel="shortcut icon" href="./Images/nav.jpg" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Tagesschrift&display=swap" rel="stylesheet">
</head>
<body>
    <div id="firstNav">
        <h1>Home</h1>
        <h1>Layout</h1>
        <h1>Service</h1>
        <h1>Signin</h1>
    </div>
    <div id="secondNav">
        <h1>Home</h1>
        <h1>Layout</h1>
        <h1>Service</h1>
        <h1>Signin</h1>
    </div>
    <div id="thirdNav">
        <h1>Home</h1>
        <h1>Layout</h1>
        <h1>Service</h1>
        <h1>Signin</h1>
    </div>
    <div id="fourthNav">
        <h1>Home</h1>
        <h1>Layout</h1>
        <h1>Service</h1>
        <h1>Signin</h1>
    </div>
    <div id="fifthNav">
        <h1>Home</h1>
        <h1>Layout</h1>
        <h1>Service</h1>
        <h1>Signin</h1>
    </div>
    <div id="sixthNav">
        <h1>Home</h1>
        <h1>Layout</h1>
        <h1>Service</h1>
        <h1>Signin</h1>
    </div>
    <nav id="child">
        <div id="firstChild">
            <h1>Home</h1>
            <h1>Layout</h1>
        </div>
        <div id="secondChild">
            <h1>Service</h1>
            <h1>Main</h1>
        </div>
        <div id="thirdChild">
            <h1>Login</h1>
            <h1>Help</h1>
        </div>
    </nav>
    <header>
        <div id="left">
            <img src="..//Layout/Images/nav1.jpg" alt="Navigate">
        </div>
        <div id="cent">
            <a href="#">Home</a>
            <a href="#">Layout</a>
            <a href="#">Service</a>
            <a href="#">Pages</a>
        </div>
        <div id="right">
            <a href="">Login</a>
            <a href="">Help?</a>
        </div>
    </header>
</body>
</html>