<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation</title>
    <link rel="stylesheet" href="..//Layout/Nav2Task.css">
    <link rel="shortcut icon" href="..//Layout/Images/nav.jpg" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Inconsolata:wght@200..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Love+Ya+Like+A+Sister&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sedan:ital@0;1&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Tagesschrift&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <div id="firstDiv">
            <a href="#" id="a1">Home</a>
            <a href="..//Basics/News.html" id="a2">News</a>
        </div>
        <div id="secondDiv">
            <a href="..//Basics/Table.html" id="a1">Points_Table</a>
            <a href="..//Basics/Task/BiryaniTask.html" id="a2">Biryani_Image</a>
        </div>
        <div id="thirdDiv">
            <a href="..//Basics/Media.html" id="a1">Online_Service</a>
            <a href="..//Basics/Task/ResumeTask.html" id="a2">Resume</a>
        </div>
    </nav>
</body>
</html>
