<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation</title>
    <link rel="stylesheet" href="..//Task/NavTask.css">
    <link rel="shortcut icon" href="..//Images/nav.jpg" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Inconsolata:wght@200..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Tagesschrift&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div id="secondClass">
            <img src="../Images/apple-logo.png" alt="Apple Logo">
            <p>Store</p>
            <p>Mac</p>
            <p>iPad</p>
            <p>iPhone</p>
            <p>Watch</p>
            <p>Vision</p>
            <p>AirPods</p>
            <p>TV & Home</p>
            <p>Entertainment</p>
            <p>Accessories</p>
            <p>Support</p>
            <img src="../Images/apple search.png" alt="Apple Search">
            <img src="..//Images/apple bag.png" alt="Apple Bag">
        </div>
    </header>
</body>
</html>