<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forty</title>
    <link rel="stylesheet" href="..//Layout/Phantom.css">
    <link rel="shortcut icon" href="..//Layout/Images/phantom.jpg" type="image/x-icon">
</head>
<body>
    <main>
        <article id="bgimg1">
            <div id="bgclr1">
                <div>
                    <h3>MAGNA</h3>
                    <p>Sed nisl arcu euismod sit amet nisi lorem <br>etiam dolor veroeros et feugiat.</p>
                </div>
            </div>
        </article>
        <article id="bgimg2">
            <div id="bgclr2">
                <div>
                    <h3>LOREM</h3>
                    <p>Sed nisl arcu euismod sit amet nisi lorem <br>etiam dolor veroeros et feugiat.</p>
                </div>
            </div>
        </article>
        <article id="bgimg3">
            <div id="bgclr3">
                <div>
                    <h3>FEUGIAT</h3>
                    <p>Sed nisl arcu euismod sit amet nisi lorem <br>etiam dolor veroeros et feugiat.</p>
                </div>
            </div>
        </article>
        <article id="bgimg4">
            <div id="bgclr4">
                <div>
                    <h3>TEMPUS</h3>
                    <p>Sed nisl arcu euismod sit amet nisi lorem <br>etiam dolor veroeros et feugiat.</p>
                </div>
            </div>
        </article>
        <article id="bgimg5">
            <div id="bgclr5">
                <div>
                    <h3>ALIQUAM</h3>
                    <p>Sed nisl arcu euismod sit amet nisi lorem <br>etiam dolor veroeros et feugiat.</p>
                </div>
            </div>
        </article>
        <article id="bgimg6">
            <div id="bgclr6">
                <div>
                    <h3>VEROEROS</h3>
                    <p>Sed nisl arcu euismod sit amet nisi lorem <br>etiam dolor veroeros et feugiat.</p>
                </div>
            </div>
        </article>
        <article id="bgimg7">
            <div id="bgclr7">
                <div>
                    <h3>IPSUM</h3>
                    <p>Sed nisl arcu euismod sit amet nisi lorem <br>etiam dolor veroeros et feugiat.</p>
                </div>
            </div>
        </article>
        <article id="bgimg8">
            <div id="bgclr8">
                <div>
                    <h3>DOLOR</h3>
                    <p>Sed nisl arcu euismod sit amet nisi lorem <br>etiam dolor veroeros et feugiat.</p>
                </div>
            </div>
        </article>
        <article id="bgimg9">
            <div id="bgclr9">
                <div>
                    <h3>NULLAM</h3>
                    <p>Sed nisl arcu euismod sit amet nisi lorem <br>etiam dolor veroeros et feugiat.</p>
                </div>
            </div>
        </article>
        <article id="bgimg10">
            <div id="bgclr10">
                <div>
                    <h3>ULTRICIES</h3>
                    <p>Sed nisl arcu euismod sit amet nisi lorem <br>etiam dolor veroeros et feugiat.</p>
                </div>
            </div>
        </article>
        <article id="bgimg11">
            <div id="bgclr11">
                <div>
                    <h3>DICTUM</h3>
                    <p>Sed nisl arcu euismod sit amet nisi lorem <br>etiam dolor veroeros et feugiat.</p>
                </div>
            </div>
        </article>
        <article id="bgimg12">
            <div id="bgclr12">
                <div>
                    <h3>PRETIUM</h3>
                    <p>Sed nisl arcu euismod sit amet nisi lorem <br>etiam dolor veroeros et feugiat.</p>
                </div>
            </div>
        </article>
    </main>
</body>
</html>