/* img {
    position: absolute;
    left: 600px;
    bottom: 203px;
    top: 200px;
    right: 500px;
} */

/* img {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 70px;
    height: 70px;
} */

img {
    position: absolute;
    top: 100px;
    z-index: 2;
}
h1 {
    position: absolute;
    top: 75px;
    z-index: 4;
    color: aqua;
}
p {
    position: relative;
    z-index: 10;
}