<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Task</title>
    <link rel="stylesheet" href="..//Layout/ProfileTask.css">
    <link rel="shortcut icon" href="..//Layout/Images/phantom12.jpg" type="image/x-icon">
</head>
<body>
    <div id="head">
        <img src="..//Layout/Images/profiletask.jpeg" alt="Profile">
        <h1>Jessica Randall</h1>
        <p id="p1">London, United Kingdom</p>
        <br>
        <p id="p2">"Front-end developers and avid reader."</p>
        <div id="inputBox">
            <p class="para">GitHub</p><br>
            <p class="para">Frontend Mentor</p><br>
            <p class="para">LinkedIn</p><br>
            <p class="para">Twitter</p><br>
            <p class="para">Instagram</p><br>
        </div>
    </div>
</body>
</html>