<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selectors</title>
    <link rel="stylesheet" href="./selectors.css">
</head>
<body>
    <!-- <h1>My Parent is body</h1>
    <div>
        <h1>my parent is div</h1>
        <section><h1>my grandparent is div</h1></section>
        </div>
            <h2>i am h2 my parent is body</h2>
        -->
<!--
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus soluta, inventore dicta nihil fuga perferendis numquam nam rerum sit officiis repudiandae accusantium est sequi dolorem fugiat ab, porro sint hic? Necessitatibus deserunt eaque qui doloribus fugit natus quo, inventore cum optio officiis soluta recusandae atque mollitia autem hic ipsum fugiat illum quam accusamus nobis provident temporibus. Delectus, autem eligendi tenetur reprehenderit sed praesentium error tempore mollitia quisquam dolorem? Officia libero nemo eaque quaerat commodi neque, a aperiam sint optio harum cumque corrupti eligendi odit ducimus soluta laborum et, labore consectetur debitis nobis repudiandae, beatae repellat sed? Consequuntur suscipit eveniet impedit?</p>
            <button>button1</button>
            <button>button2</button>
        </div>
        <button>button3</button>
        <button>button4</button>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, facere. Aliquam molestiae quaerat nemo animi sit suscipit expedita explicabo iure doloribus consequuntur adipisci enim nam obcaecati eveniet similique neque sequi inventore quas, commodi provident. Nulla, neque cum sed eius porro facere iste sequi, nobis aut unde minima iure laboriosam a obcaecati voluptatibus ipsa dolorem, perferendis laudantium. Inventore deleniti accusantium, eos non harum quia sint dolorum at porro nisi numquam sequi autem. Vitae ad commodi aliquid corporis iste? Error rem voluptatibus sint suscipit atque corrupti! Facilis minus, eum, quae, voluptas cumque ratione voluptatum eaque optio dignissimos soluta esse dolorum incidunt reiciendis?</p>
    -->

    <ul>
        <li>Thala Ms Dhoni</li>
        <li>Thala Ms Dhoni</li>
        <li>Thala Ms Dhoni</li>
        <li>Thala Ms Dhoni</li>
        <li>Thala Ms Dhoni</li>
    </ul>
</body>
</html>

