<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starbucks</title>
    <link rel="stylesheet" href="..//Layout/StarbucksTask.css">
    <link rel="shortcut icon" href="..//Layout/Images/starbucks.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Didact+Gothic&family=Inconsolata:wght@200..900&family=Libertinus+Mono&family=Lora:ital,wght@0,400..700;1,400..700&family=Love+Ya+Like+A+Sister&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sedan:ital@0;1&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Tagesschrift&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <footer>
        <nav class="navbar">
            <div id="firstDiv1">
                <img src="..//Layout/Images/starbucks.png" alt="starbucks" id="img1">
                <div class="navList">
                    <a href="#">Menu</a>
                    <a href="#">Rewards</a>
                    <a href="#">Gift Cards</a>
                </div>
            <div>
            <div id="firstDiv2">
                <div class="store">
                    <i class="fa-solid fa-location-dot" style="color: #000000;"></i>
                    <span>Find a store</span>
                </div>
                <button id="btn1">Sign in</button>
                <button id="btn2">Join now</button>
            </div>
        </nav>
        <section id="secondSection">
            <div id="secondDiv1">
                <p><img src="..//Layout/Images/cup logo.png" alt="Cup Logo">Start an order<i class="fa-solid fa-greater-than" style="color: #ffffff;" id="store2"></i></p>
            </div>
            <!-- <div id="secondDiv2">
                <div class="divTag">
                    <img src="..//Layout/Images/starbucks1.webp" alt="starbucks1" id="divTag0">
                </div>
                <div class="hpb1">
                    <h1>Fall. Starts. Now.</h1>
                    <p>Our fall flavors are officially here. Time for all things <br>pumpkin and pecan, including the new Pecan Oatmilk <br>Cortado.</p>
                    <button>View the menu</button>
                </div>
            </div>
            <div id="secondDiv3">
                <div id="hpb2">
                    <h1>Free drink? Yes, please.</h1>
                    <p>Enjoy a <b>free handcrafted drink</b> when you make a <br>qualifying purchase during your first week as a Starbucks® <br>Rewards member.*</p>
                    <button>Join & Order</button>
                </div>
                <div  id="divTag1">
                    <img src="..//Layout/Images/starbucks2.jpg" alt="starbucks2">
                </div>
            </div>
            <div id="secondDiv4">
                <div class="divTag">
                    <img src="..//Layout/Images/starbucks3.webp" alt="starbucks3" id="divTag2">
                </div>
                <div class="hpb1" style="border-top: 10px;">
                    <h1 style="color: white;">Celebrate coffee's big day</h1>
                    <p style="color: white;">National Coffee Day is September 29. Share the love by <br>sending a coffee lover in your life a Starbucks eGift.</p>
                    <button style="background-color: rgb(50, 70, 47); border: 1px solid white;">Send an eGift</button>
                </div>
            </div>
            <div id="secondDiv5">
                <div id="hpb4">
                    <h1>Guatemala Casi <br>Cielo® coffee <br>returns</h1>
                    <p>With floral aromatics and notes of Meyer <br>lemon and cocoa nibs, the returning seasonal <br>favorite is back. Enjoy hot or iced for a limited <br>time.</p>
                    <button>Add to order</button>
                </div>
                <div id="divTag3">
                    <img src="..//Layout/Images/starbucks4.jpg" alt="starbucks4">
                </div>
            </div>
            <div id="secondDiv6">
                <div class="divTag">
                    <img src="..//Layout/Images/starbucks5.jpg" alt="starbucks5" id="divTag4">
                </div>
                <div class="hpb1" >
                    <h1 style="color: white;">Free refills while <br>you stay</h1>
                    <p style="color: white;">When you stay to enjoy your handcrafted <br>beverage, refills of hot or iced brewed coffee <br>or tea are on us.** Including <br>the returning seasonal favorite, Guatemala Casi Cielo®, <br>with notes of bright Meyer lemon and cocoa <br>nibs.</p>
                    <button style="background-color: rgb(50, 70, 47); border: 1px solid white;">Order now</button>
                </div>
            </div> -->
            <section>
                <section id="imgContent1">
                    <article>
                        <img src="..//Layout/Images/starbucks1.webp" alt="Starbucks1">
                    </article>
                    <aside id="aside1">
                        <h1>Protein just <br>dropped</h1>
                        <p>Your drink is getting a major upgrade. Level <br>up with protein cold foam or protein-<br>boosted milk, or choose a new favorite from <br>our menu.*</p>
                        <button>Learn more</button>
                    </aside>
                </section>
                <section id="imgContent2">
                    <aside id="aside2">
                        <h1>Fall. Starts. Now.</h1>
                        <p>Our fall flavors are officially here. Time for all things <br>pumpkin and pecan, including the new Pecan Oatmilk <br>Cortado.</p>
                        <button>View the menu</button>
                    </aside>
                    <article>
                        <img src="..//Layout/Images/starbucks2.jpg" alt="Starbucks2">
                    </article>
                </section>
                <section id="imgContent3">
                    <article>
                        <img src="..//Layout/Images/starbucks3.webp" alt="Starbucks3">
                    </article>
                    <aside id="aside3">
                        <h1>Free drink, warm welcome</h1>
                        <p>Let us make your day with a <b>free handcrafted drink.</b> Just <br>join and make a qualifying purchase during your first <br>week.**</p>
                        <button>Join now</button>
                    </aside>
                </section>
                <section id="imgContent4">
                    <aside id="aside4">
                        <h1>Guatemala Casi <br>Cielo® coffee <br>returns</h1>
                        <p>With floral aromatics and notes of Meyer <br>lemon and cocoa nibs, the returning seasonal <br>favorite is back. Enjoy hot or iced for a limited <br>time.</p>
                        <button>Add to order</button>
                    </aside>
                    <article>
                        <img src="..//Layout/Images/starbucks4.jpg" alt="starbucks4">
                    </article>
                </section>
                <section id="imgContent5">
                    <article>
                        <img src="..//Layout/Images/starbucks5.jpg" alt="starbucks5">
                    </article>
                    <aside id="aside5">
                        <h1>Freshly brewed, <br>just for you</h1>
                        <p>Order your favorite light, medium, dark or <br>decaf Starbucks coffee roast and our baristas <br>will brew a fresh cup.</p>
                        <button>Order now</button>
                    </aside>
                </section>
            </section>
            <div id="secondDiv7">
                <p id="firstPara">*Valid for new Starbucks Rewards members for 7 days from sign up. Coupon will be available in the <br>
                    offers tab of your Starbucks app following sign up and may take up to 48 hours to arrive. Good at <br>
                    participating U.S. stores for a handcrafted menu-sized beverage ($8 max value) with qualifying </br>
                    purchase. Qualifying purchase excludes alcohol, Starbucks Card and Card reloads. Limit one. <br>
                    Cannot be combined with other offers or discounts. Excludes delivery services. Sign up by <br>
                    9/28/2025.</p>
                <p>**Free refills of hot and iced brewed coffee and tea during same store visit. Excludes Cold Brew, <br>
                    Nitro Cold Brew, Iced Tea Lemonade, and flavored Iced Tea and Starbucks Refreshers® base. At <br>
                    participating stores.</p>
            </div>
        </section>
        <hr>
        <section id="thirdSection">
            <div id="thirdDiv3">
                <ul>
                    <li><h2>About Us</h2></li>
                    <li><a href="#">Our Company</a></li>
                    <li><a href="#">Our Coffee</a></li>
                    <li><a href="#">About Starbucks</a></li>
                    <li><a href="#">Starbucks Archive</a></li>
                    <li><a href="#">Investor Relations</a></li>
                    <li><a href="#">Customer Service</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
                <ul>
                    <li><h2>Careers</h2></li>
                    <li><a href="#">Culture and Values</a></li>
                    <li><a href="#">Belonging at Starbucks</a></li>
                    <li><a href="#">College Achievement <br>Plan</a></li>
                    <li><a href="#">Alumni Community</a></li>
                    <li><a href="#">U.S. Careers</a></li>
                    <li><a href="#">International Careers</a></li>
                </ul>
                <ul>
                    <li><h2>Social Impact</h2></li>
                    <li><a href="#">Communities</a></li>
                    <li><a href="#">Starbucks Foundation</a></li>
                    <li><a href="#">Sustainability</a></li>
                    <li><a href="#">Environmental and Social <br>Impact Reporting</a></li>
                </ul>
                <ul>
                    <li><h2>For Business Partners</h2></li>
                    <li><a href="#">Landlord Support Center</a></li>
                    <li><a href="#">Suppliers</a></li>
                    <li><a href="#">Corporate Gift Card Sales</a></li>
                    <li><a href="#">Office and Food service <br>Coffee</a></li>
                </ul>
                <ul>
                    <li><h2>Order and Pick Up</h2></li>
                    <li><a href="#">Order on the App</a></li>
                    <li><a href="#">Order on the Web</a></li>
                    <li><a href="#">Delivery</a></li>
                    <li><a href="#">Order and Pick Up <br>Options</a></li>
                    <li><a href="#">Explore and Find Coffee for <br>Home</a></li>
                </ul>
            </div>
            <hr>
            <div id="thirdDiv4">
                <i class="fa-brands fa-spotify" style="color: #000000;"></i>
                <i class="fa-brands fa-facebook" style="color: #000000;"></i>
                <i class="fa-brands fa-pinterest" style="color: #000000;"></i>
                <i class="fa-brands fa-square-instagram" style="color: #000000;"></i>
                <i class="fa-brands fa-youtube" style="color: #000000;"></i>
                <i class="fa-brands fa-x-twitter" style="color: #000000;"></i>
            </div>
            <div id="thirdDiv5">
                <ul>
                    <li><a href="#">Privacy Notice</a></li>
                    <li><a href="#">Consumer Health Privacy Notice</a></li>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Do Not Sell or Share My Personal Information</a></li>
                    <li><a href="#">CA Supply Chain Act</a></li>
                    <li><a href="#">Accessibility</a></li>
                    <li><a href="#">Cookie Preferences</a></li>
                </ul>
            </div>
        </section>
    </footer>
</body>
</html>