<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Units</title>
    <link rel="stylesheet" href="..//Layout/Units.css">
    <link rel="shortcut icon" href="..//Layout/Images/nav.jpg" type="image/x-icon">
</head>
<body>
    <div>
        <p>I am Paragraph 1</p>
        <p>I am Paragraph 2</p>
        <p>I am Paragraph 3</p>
    </div>
    <section>
        <h1>I am Header 1</h1>
        <h1>I am Header 2</h1>
        <h1>I am Header 3</h1>
    </section>
</body>
</html>