<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verticle Navigation</title>
    <link rel="stylesheet" href="..//Layout/VerticleNav.css">
    <link rel="shortcut icon" href="..//Layout/Images/nav.jpg" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Inconsolata:wght@200..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Love+Ya+Like+A+Sister&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Tagesschrift&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Layout</a></li>
            <li><a href="#">Service</a></li>
            <li><a href="#">Help</a></li>
        </ul>
    </nav>
</body>
</html>